<strong>Number:</strong>
<%= @train.number %><br>


<strong>Route:</strong>
<%= @train.route.name %><br>

<strong>Current Station:</strong>
<%= @train.current_station.title %><br>

<strong>Wagons: </strong>

<table>
  <thead>
  <tr>
    <th>Номер</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @train.wagons.each do |wagon| %>
    <tr>
      <td><%= link_to wagon.number, [@train, wagon.generalize] %></td>
      <td><%= link_to 'Delete', [@train, wagon.generalize], method: :delete,
                     data: { conform: 'Are you sure?'} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Add wagon', new_train_wagon_path(@train) %> |
<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
