<div class="row">
  <div class="col-sm-6 col-sm-offset-3 well">
    <%= link_to t('.stations'), admin_railway_stations_path, class: 'btn btn-default btn-lg btn-block' %>
    <%= link_to t('.trains'), admin_trains_path, class: 'btn btn-default btn-lg btn-block' %>
    <%= link_to t('.routes'), admin_routes_path, class: 'btn btn-default btn-lg btn-block'%>
    <%= link_to t('.tickets'), admin_tickets_path, class: 'btn btn-default btn-lg btn-block' %>
    <%= link_to t('.wagons'), admin_wagons_path, class: 'btn btn-default btn-lg btn-block' %>
    <%= link_to t('common.actions.search'), search_path, class: 'btn btn-default btn-lg btn-block' %>
  </div>
</div>