<p><%= link_to 'Stations', admin_railway_stations_path %></p>
<p><%= link_to 'Trains', admin_trains_path %></p>
<p><%= link_to 'Routes', admin_routes_path %></p>
<p><%= link_to 'Tickets', admin_tickets_path %></p>
<p><%= link_to 'Wagons', admin_wagons_path %></p>
<p><%= link_to 'Search', search_path %></p>
