<tr>
  <td><%= wagon.train.number %></td>
  <td><%= wagon.number %></td>
  <td><%= link_to t('common.actions.show'), [:admin, wagon] %></td>
  <td><%= link_to t('common.actions.edit'), edit_admin_wagon_path(wagon) %></td>
  <td><%= link_to t('common.actions.delete'), [:admin, wagon], method: :delete,
                  data: { confirm: t('common.are_you_sure') } %></td>
</tr>