<tr>
  <td><%= wagon.train.number %></td>
  <td><%= wagon.number %></td>
  <td>
    <div class="btn-group" role="group" aria-label="...">
      <%= link_to t('common.actions.show'), [:admin, wagon],
                  class: 'btn btn-default' %>
      <%= link_to t('common.actions.edit'), edit_admin_wagon_path(wagon),
                  class: 'btn btn-default' %>
      <%= link_to t('common.actions.delete'), [:admin, wagon],
                  class: 'btn btn-default', method: :delete,
                  data: { confirm: t('common.are_you_sure') } %>
    </div>
  </td>
</tr>