<h1><%= t('.header', number: @wagon.number)%></h1>
<h2><%= t('.seats')%></h2>
<table>
  <thead>
  <tr>
    <td><%= t('.type')%></td>
    <td><%= t('.count')%></td>
  </tr>
  </thead>
  <tbody>
  <% @wagon.exist_seats.each do |type, count| %>
    <tr>
      <td><%= type %></td>
      <td><%= count %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('common.actions.back'), [:admin, @wagon.train] %>