<%= javascript_include_tag 'trains_inline' %>

<tr>
  <td>
    <%= content_tag :span, train.number, class: 'train_name btn btn-link',
                    data: {train_id: train.id} %>
    <%= render 'name_form', train: train %>
  </td>
  <td>
    <div class="btn-group" role="group" aria-label="...">
      <%= link_to t('common.actions.show'), [:admin, train],
                  class: 'btn btn-default' %>
      <%= link_to t('common.actions.edit'), edit_admin_train_path(train),
                  class: 'btn btn-default' %>
      <%= link_to t('common.actions.delete'), [:admin, train],
                  class: 'btn btn-default', method: :delete,
                  data: { confirm: t('common.are_you_sure') } %>
    </div>
  </td>
</tr>