<strong><%= t('.number')%></strong>
<%= @train.number %><br>


<strong><%= t('.route')%></strong>
<%= link_to @train.route.name, [:admin, @train.route] %><br>

<strong><%= t('.current_station')%></strong>
<%= @train.current_station.title %><br>

<strong><%= t('.wagons')%></strong>

<table>
  <tbody>
  <% @train.wagons.each do |wagon| %>
    <tr>
      <td><%= wagon.number %></td>
      <td><%= link_to t('common.actions.show'), [:admin, wagon.generalize] %></td>
      <td><%= link_to t('common.actions.delete'), [:admin, wagon.generalize],
                      method: :delete, data: { confirm: t('common.are_you_sure') } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.add_wagon'), new_admin_train_wagon_path(@train) %> |
<%= link_to t('common.actions.edit'), edit_admin_train_path(@train) %> |
<%= link_to t('common.actions.back'), admin_trains_path %>
