<%= render 'common/back', path: tickets_path %>

<%= render 'ticket', ticket: @ticket do %>
  <li class="list-group-item">
    <strong><%= t('tickets.show.start_station') %>:</strong>
    <%= @ticket.start_station.title %><br>
  </li>
  <li class="list-group-item">
    <strong><%= t('tickets.show.end_station') %>:</strong>
    <%= @ticket.end_station.title %><br>
  </li>
<% end %>

