<%= form_for([:admin, @ticket]) do |f| %>
  <%= render 'common/errors', resource: @ticket %>

  <div class="field">
    <%= f.label :user_id, class: 'control-label' %>
    <%= f.collection_select :user_id, User.all, :id, :email %>
  </div>

  <div class="field">
    <%= f.label :train_id, class: 'control-label' %>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="field">
    <%= f.label :start_station_id, class: 'control-label' %>
    <%= f.collection_select :start_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="field">
    <%= f.label :end_station_id, class: 'control-label' %>
    <%= f.collection_select :end_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="field">
    <%= f.label :full_name, class: 'control-label' %>
    <%= f.text_field :full_name %>
  </div>

  <div class="actions">
    <%= f.submit t('.submit', action: action_for(@ticket)) %>
  </div>
<% end %>
