<strong>Title:</strong>
<%= @route.name %><br>

<strong>Trains:</strong>
<ul>
  <% @route.trains.each do |train| %>
    <li><%= train.number %></li>
  <% end %>
</ul>

<%= render 'route_stations' %>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
