<%= javascript_include_tag 'routes_inline' %>

<tr>
  <td>
    <%= content_tag :span, route.name, class: 'route_name btn btn-link',
                    data: {route_id: route.id} %>
    <%= render 'name_form', route: route %>
  </td>
  <td>
    <div class="btn-group" role="group" aria-label="...">
      <%= link_to t('common.actions.show'), [:admin, route],
                  class: 'btn btn-default' %>
      <%= link_to t('common.actions.edit'), edit_admin_route_path(route),
                  class: 'btn btn-default' %>
      <%= link_to t('common.actions.delete'), [:admin, route],
                  class: 'btn btn-default', method: :delete,
                  data: { confirm: t('common.are_you_sure') } %>
    </div>
  </td>
</tr>