<%= render 'common/back', path: admin_routes_path %>

<strong><%= t('.title')%></strong>
<%= @route.name %><br>

<h4><%= t('.trains')%></h4>
<ul class="list-group">
  <% @route.trains.each do |train| %>
    <li class="list-group-item"><%= train.number %></li>
  <% end %>
</ul>

<%= render 'route_stations' %>

<%= link_to t('common.actions.edit'), edit_admin_route_path(@route),
            class: 'btn btn-primary' %>
