<strong><%= t('.title')%></strong>
<%= @route.name %><br>

<strong><%= t('.trains')%></strong>
<ul>
  <% @route.trains.each do |train| %>
    <li><%= train.number %></li>
  <% end %>
</ul>

<%= render 'route_stations' %>

<%= link_to t('common.actions.edit'), edit_admin_route_path(@route) %> |
<%= link_to t('common.actions.back'), admin_routes_path %>
